<div class="container">
  <div class="card p-4 my-2 shadow">
    <h3 class="text-center">Liste des POKEMONS</h3>
    <input
      #var_input
      (keyup.enter)="selectPokemon(var_input.value)"
      type="number"
      class="form-control"
      placeholder="Indice du pokemon... Appuyer sur entre"
    />
    <p *ngIf="pokemonSelected">
      Vou avez selectionné le pokemon: {{ pokemonSelected?.name }}
    </p>
    <p *ngIf="!pokemonSelected">
      Aucun pokemon n'a été trouvé.
    </p>
    <div class="">
      <div class="row row-cols-md-3">
        <div *ngFor="let pokemon of pokemonList">
          <div class="col">
            <div class="card my-2 shadow-sm">
              <div class="card-header">
                <div class="card-title fw-bold text-uppercase"> {{ pokemon.name}} </div>
              </div>
              <div class="card-body">
                <div class="row rows-col-2">
                  <div class="col-6">
                    <div class="rounded-pill shadow">
                      <img src="{{ pokemon.picture }}" alt="img-pokemon{{pokemon.id}}" class="col-12">
                    </div>
                  </div>
                  <div class="col-6">
                    <ul>
                      <li>CP: {{ pokemon.cp }}</li>
                      <li>HP: {{ pokemon.hp }}</li>
                      <li>
                        Type:
                        <ul>
                          <li *ngFor="let type of pokemon.types" class="fst-italic">
                            {{type}}
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!--<ul>
      <li *ngFor="let pokemon of pokemonList">
        <b>{{ pokemon.name}}</b>
        <img src="{{ pokemon.picture }}" alt="img-pokemon{{pokemon.id}}">
      </li>
    </ul>-->
  </div>
</div>
